.number-increment-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100px; */
}

.number {
  font-size: 36px;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
  font-family: cursive;
}
